<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="JSONPath" value="..\\..\\"/>
    <add key="PageWidthPercent" value="80.0"/>
    <add key="TextFontSize" value="11"/>
    <add key="VolRowNum" value="50"/>
    <add key="TrimListRowNum" value="40"/>
    <add key="CNFontPath" value="C://Windows//Fonts//STZHONGS.TTF"/>
    <add key="UllageIndex" value="true"/>
    <add key="CloudScale" value="100.00, 100.00, 100.00"/>
    <add key="CloudFormat" value="rcxyzRGB"/>
    <add key="RhoTolerance" value="4"/>
    <add key="MaxSewGap" value="150"/>
    <add key="CellNormTolerance" value ="0.99"/>
    <add key ="CellRhoTolerance" value="8"/>
    <add key="PlaneNormTolerance" value="0.999"/>
    <add key="PlaneRhoTolerance" value="10"/>
    <add key="StiffResolutionX" value="8"/>
    <add key="StiffResolutionY" value="8"/>
    <add key ="RowSkip" value="10"/>
    <add key ="VertexSkip" value="40"/>
    <add key="PointSize" value="4"/>
    <add key="PointBrush" value="#FFFF0000"/>
    <add key ="MinRegionCellCount" value="10"/>
    <add key ="MinRegionArea" value="500"/>
    <add key="MergeRation" value="0.5"/>
    <add key ="BoundarySearchDistance" value="50"/>
    <add key="ExtendStiff" value="true"/>
  </appSettings>
</configuration>